<!DOCTYPE html>
<html lang='en'>
  <style>
  body { font-family: sans-serif; color: #333; }
  h1 { font-size: 175%; padding-bottom: 5px; color: #1d4765; border-bottom: 4px solid #1d4765; }
  h2 { font-size: 150%; padding-bottom: 5px; color: #1d4765; border-bottom: 1px solid #1d4765; }
  h3 { font-size: 125%; padding-bottom: 5px; color: #1d4765; }
  del { text-decoration: line-through; color: #888; }
  .high { color: #f00000; }
  .medium { color: #800000; }
  .low { color: #300000; }
  </style>
  <head>
    <meta charset='utf-8'>
  </head>
  <body>
    <%= @body %>
  </body>
</html>
