%p Greetings #{@name}:

%p
  Thank you for volunteering to teach at the Pennsic University.
  Your classes are:

= render 'instances', collection: @instances

%p
  I know this looks like a tl;dnr block of text but please read the
  following important points for all instructors:

%ul
  %li
    Let the University know, as soon as possible, if you must cancel
    or change the time or day of your class. E-mail the registrar at
    Pennsic Registrar
    #{link_to 'pennsicuregistrar@gmail.com', 'mailto:pennsicuregistrar@gmail.com'}.
    Changes will be made
    in advance if they are received before 6 pm EDT on Friday, July 19th.
    After that, you may email and it will be handled on-site, or you may
    come to University Point and talk to any shift supervisor.

  %li
    Sign in at University Point after you get to Pennsic. University Point
    will be open from 1 pm - 4 pm on Monday, July 22; from 8:30 am to
    5 pm July 23 through August 1.  Please sign in as early as possible
    so we know that you are on site in case of questions or problems
    relative to your class.  You will also be able to pick up your
    teacher token at that time.

  %li
    Start and end classes on time.  Remember you need to be out of the
    tent a few minutes before the scheduled end of your class to allow
    the next class to begin on time.  For an hour long class, expect to
    use 50 to 55 minutes of class time.

  %li
    If you have requested a “messy” class tent, please be aware that while
    the tent has a sink with running water, there is no drain.
    Water simply spills out onto the grass.
    If you will be cleaning up something that will leave a residue
    you must bring your own bucket or pan to drain into and dispose
    of your waste water properly.

  %li
    If you will be using a heat source, you must adhere to the
    following rules:

    %ul
      %li
        Classes using heat sources must move tables as far away from
        tent walls as possible to minimize the chance of damage to
        the canvas.
      %li
        Small open flame sources such as candles or Sterno cans must
        be placed on a fireproof surface to prevent damage to tabletops.
      %li
        Larger flame sources such as camp stoves or charcoal burners
        must be securely set on a level tabletop and make use of a
        flame shield/windbreak if available.
      %li
        Propane torches, such as those used for glass bead making,
        must be securely affixed to the edge of the table (not hand-held
        or standing on the tabletop) at all times and pointed away
        from tent walls.
      %li
        All active heat sources must be supervised at all times.

  %li
    Clean up the tent when you are done with your class.

    %ul
      %li
        When working with hot glass, a heatproof surface must cover
        all tabletops to reduce the possibility of damage or fire.
      %li
        You must devise a way of collecting any fragments of
        broken glass from the tent interior to avoid the
        possibility of injury to others.
      %li
        If your class includes a process that may produce sharp
        fragments or shards (including but not limited to wood or
        metalworking), you must devise a way to collect any sharp
        fragments from the tent at the end of your class to avoid the
        possibility of injury to others.

  %li
    White Boards are available just prior to your class at University Point.
    It is your responsibility to both pick-up and return the White Boards
    and markers.  If the Point is closed for the night, put the White
    Board and markers inside on a table.

  %li
    If you wish to open the tent, see posted directions for raising
    the walls.  Please, DO NOT EVER disconnect the sides. This makes
    closing them difficult and also makes the canvas more likely to
    be damaged.

  %li
    If you are the last class in a tent, on any day, please lower the
    tent sides if they are raised (directions will be posted) and close
    the front. If it is impossible for you to do this, please stop by
    the Point and let us know so we can close them.

  %li
    There is still space for more classes. If you, or anyone you know,
    wishes to add a class, please come to University Point to schedule it.

  %li
    Changes/Adds/Deletes will be updated on the Pennsic War web site,
    posted on Pennsic University's Facebook page, posted on the boards
    at the Point, and published in the Pennsic Independent.

  %li
    Volunteers are still needed for staffing University Point.
    Encourage your friends to volunteer.

%p
  Thank you for teaching and helping make the University at Pennsic
  the outstanding learning venue that it has become.

%p
  In Service,
  %br
  Baroness Gwynnyd of York, Chancellor
  %br
  Capt. Elias Gedney, University Point Coordinator
  %br
  TH Lady Artimisia Lacebrayder, Registrar
