%p Dear #{@name.strip}:

%p
  Thank you very much for choosing to teach at Pennsic University!
  We are very happy that you have done so! In fact, we couldn't do it with out you!
  According to our records we see that you have the following dates and locations for your upcoming classes

= render 'instances'

%p
  If you have recently requested a class, and it is not shown in this
  list, you should check back on the Pennsic University schedule site,
  #{link_to 'thing.pennsicuniversity.org', 'http://thing.pennsicuniversity.org/'},
  or check at University Point after arriving to confirm the assigned time
  and location for your class.

%p
  Please keep the following instructions in mind for your classes:

%ul
  %li University Point opens officially Tuesday Morning August 2 at 9:00 am and will be open each day until 4:30 thearafter Thursday August 11
  %li Please remember to sign in and register as early as possible at University Point after you get on site.
  %li We will start registering teachers Tuesday August 2 at 9:00 am and will continue for the duration of the war
  %li If you need class aids, such as dry erase boards and pens, they are available on a first come first serve basis at University Point.
  %li Please remind all students to return any chairs borrowed for your class after every class.
  %li Tents will be provided with special ropes to raise and quickly lower the sides. PLEASE USE THEM. DO NOT USE THE WALL CLIPS.
  %li If your class is the last scheduled class for the day in the tent, please drop the tent walls.
  %li If "that typical Pennsic storm" looms, please drop the tent walls, and raise them after the weather has cleared.
  %li If you need help or instruction on raising or lowering the tent walls, please advise University Point of your difficulty.
  %li Electricity in any tents is not provided as a public resource. Please do not abuse this resource.
  %li Heat sources of any kind are only allowed in designated tents. If you are unsure, ask at University Point before your class.
  %li Please be patient with us, we are also hot and tired and it is also our vacation! We promise that we will try to do the same for the same reasons.
  %li If you have any questions at all, ask us, do not assume.

%p
  Thank you very much for teaching at Pennsic 45.
  The University and the Cultural Affairs staff are very grateful to you for volunteering!
  Teaching prospers the SCA in ways that not other activity can.

%p
  Thank you
  %br
  Capt Elias Gedney
  %br
  Pennsic University Chancellor
  %br
  Pennsic 45
