%li.dropdown
  %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
    Admin
    %b.caret
  %ul.dropdown-menu
    %li= link_to 'Users', admin_users_path
    %li= link_to 'Tractless Classes', coordinator_instructables_path(tract: "No Tract")
