- title 'Your Instructor Status'

%h2 Instructor Status
%ul
  - if @user.instructor?
    %li You are registered as an instructor.
  - else
    %li You are not registered as an instructor.

  - if @user.instructor?
    %li You may teach up to #{@user.class_limit} classes.

  - if @user.coordinator?
    %li You are a track coordinator for "#{@user.track_coordinator}."

  - if @user.admin?
    %li You are an administrator.
