db_username: DB_NAME <% raise Exception.new("You must set this") %>
db_password: DB_PASSWORD <% raise Exception.new("You must set this") %>
secret_token: LONG_SECRET_TOKEN_HERE <% raise Exception.new("You must set this") %>
redis: REDIS <% raise Exception.new("You must set this") %>
devise_pepper: very long string here <% raise Exception.new("You must set this") %>
