%div#changelog-modal.modal.fade.hide{role: 'dialog'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', data: { dismiss: 'modal', aria: {hidden: true, labelledby: 'changelogModalLabel'}}}
          %span{aria: {hidden: true}} &times;
        %h5.modal-title#changelogModalLabel Modification History
      .modal-body
        = render partial: 'instructables/changelog', locals: { instructable: instructable }
      .modal-footer
        %button{class: 'btn', data: {dismiss: 'modal'}} Close
