%ol.list-unstyled
  - counter = 0
  - instructable.instances.each do |instance|
    - counter += 1
    %li
      - if counter <= instructable.repeat_count
        - if instance.scheduled?
          %span.badge.badge-success= instance.formatted_location_and_time
        - else
          %span.badge.badge-important= instance.formatted_location_and_time
      - else
        %span.badge.badge-important= instance.formatted_location_and_time
  - missing_instance_count = instructable.repeat_count - counter
  - missing_instance_count.times do
    %li
      %span.badge.badge-important Location and time pending
