%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle#proofreaderDropdown{:href => '#', :data => {:toggle => 'dropdown'}, aria: {haspopup: "true", expanded: "false"}}
    Proofreader
  .dropdown-menu{aria: {labelledby: "proofreaderDropdown"}}
    = link_to 'All', proofreader_instructables_path, class: 'dropdown-item'
    = link_to 'Proofread', proofreader_instructables_path(proofread: 1), class: 'dropdown-item'
    = link_to 'Needs Proofread', proofreader_instructables_path(proofread: 0), class: 'dropdown-item'
