- title 'Privacy Policy'

%h1 Privacy Policy

%p
  We don't spam.  We won't share your info to others except by your
  permission.  This permission includes things like enabling any
  of the sharing features present on this site.

%p
  Privacy, and avoiding spam, is an important issue with the developer
  of this site.  You may receive email to notify you about major
  changes to the site.

%p
  If this site ever allows a "notify me if something changes" style of
  email notification, you have full control over what type and how often
  you will receive these notifications.

%p
  Log files may contain your computer's address, and data you submit to the site.
  None of this data will be shared with a third party.
  This information will never be used in any form of marketing.

%p
  These policies may be updated at any time without notice.
