$font-family-sans-serif: "Noto Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import "bootstrap_and_overrides";

@import "bootstrap-datetimepicker";

@import "policies";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');
