- title 'Admin : Users'

%h2 User count: #{@users.count}

%table.table
  %thead
    %tr
      %th{scope: "col"} Name
      %th{scope: "col"} Tracks
      %th{scope: "col"} Classes
      %th{scope: "col"} PU Staff
      %th{scope: "col"} Admin
      %th{scope: "col"} Last Login
  %tbody
    = render :partial => @users

= page_navigation_links @users

%p.alert.alert-info
  The two numbers under "classes" are the number of classes, and the total
  repeat count.  If a user has 2 classes which repeat twice each, it will
  show as "2 / 4".
