- title 'Pennnsic University Policies'

%p
  In order to teach a class for Pennsic Univerisy, you must read,
  understand, and agree to the following policies.

.row
  .col-3 Tent Use
  .col-9
    %p
      Pennsic University tents may only be used for activities approved by the
      University Chancellor or other member of the Pennsic senior staff as
      designated by the Chancellor.
    %p
      Pennsic University tents may not be reserved for private, individual,
      or household parties at any time.
    %p
      Sleeping or camping is prohibited in Pennsic University tents, except
      in cases of extreme emergency (i.e., a severe storm or other natural disaster
      in which Pennsic staff have designated the University tents as a shelter point).
    %p
      Instructors should leave tents as clean as possible at the end of
      each class. Be courteous to the instructors and students
      following you and pick up after yourself!
    %p
      While most tents have power outlets, the total amount of electrical
      power available to the University is limited. To prevent blown fuses,
      electrical outlets in the tents should be used only for
      class-related activities (i.e. running a computer or projector for a
      lecture). Use of any equipment requiring significant power draw or
      running for longer than a normal class time (120 minutes, maximum)
      must be approved by the University Chancellor.
.row
  .col-3 Attendance and Signup List
  .col-9
    %p
      No Signup lists are be used for any Pennsic University classes.
      Pennsic University shall not be responsible for, not shall they
      maintain any signup lists.
    %p
      All classes are "first come, first served".  Kits and handouts should
      be provided in arrival order, where possible to determine. If it is not
      possible to determine original order, or there is unresolvable contention
      for limited number of kits or handouts, a blind draw lottery is
      encouraged to select recipients.
    %p
      Attendance in the main, numbered, University tents is tracked by the
      Pennsic University Staff, Track Coordinators tracking Attendance in
      outlying tents are responsible for counting and compiling attendance
      figures if they want them.
