- title 'Pennnsic University Policies'

%p
  In order to teach a class for Pennsic Univerisy, you must read,
  understand, and agree to the following policies.

.row
  .col-2 Tent Use
  .col-10
    %p
      Pennsic University tents may only be used for activities approved by the
      University Chancellor or other member of the Pennsic senior staff as
      designated by the Chancellor.
    %p
      Pennsic University tents may not be reserved for private, individual,
      or household parties at any time.
    %p
      Sleeping or camping is prohibited in Pennsic University tents, except
      in cases of extreme emergency (i.e., a severe storm or other natural disaster
      in which Pennsic staff have designated the University tents as a shelter point).
    %p
      Instructors should leave tents as clean as possible at the end of
      each class. Be courteous to the instructors and students
      following you and pick up after yourself!
    %p
      While most tents have power outlets, the total amount of electrical
      power available to the University is limited. To prevent blown fuses,
      electrical outlets in the tents should be used only for
      class-related activities (i.e. running a computer or projector for a
      lecture). Use of any equipment requiring significant power draw or
      running for longer than a normal class time (120 minutes, maximum)
      must be approved by the University Chancellor.
.row
  .col-2 Attendance and Signup List
  .col-10
    %p
      No Signup lists are be used for any Pennsic University classes.
      Pennsic University shall not be responsible for, not shall they
      maintain any signup lists.
    %p
      All classes are "first come, first served".  Kits and handouts should
      be provided in arrival order, where possible to determine. If it is not
      possible to determine original order, or there is unresolvable contention
      for limited number of kits or handouts, a blind draw lottery is
      encouraged to select recipients.
    %p
      Attendance in the main, numbered, University tents is tracked by the
      Pennsic University Staff, Track Coordinators tracking Attendance in
      outlying tents are responsible for counting and compiling attendance
      figures if they want them.
.row
  .col-2 Heat Source Usage
  .col-10
    %p
      If your class requires use of a heat source (including, but not
      limited to: candles, camp stoves, hot plates, charcoal burners,
      Sterno&tm; cans, propane torches), you must obtain prior approval
      from the University Chancellor or designate. Failure to receive
      prior approval may result of the cancellation of your class.
    %p
      Classes using heat sources must move tables as far away from tent
      walls as possible to minimize the chance of damage to the canvas.
    %p
      Small open flame sources such as candles or Sterno&tm; cans must
      be placed on a fireproof surface to prevent damage to tabletops.
    %p
      Larger flame sources such as camp stoves or charcoal burners must
      be securely set on a level tabletop and make use of a flame
      shield/windbreak if available.
    %p
      Propane torches, such as those used for glass bead making, must
      be securely affixed to the edge of the table at all times, not
      hand-held or standing on the tabletop, and be pointed away
      from tent walls.
    %p
      All active heat sources must be supervised at all times.
    %p
      If your class involves glassmaking or working with hot glass
      or hot/melted metal, you must obtain prior approval of the
      University Chancellor or Registrar.  Without this approval,
      your class will not be scheduled.
    %p
      When working with hot glass, a heatproof surface must cover all
      tabletops to reduce the possibility of damage or fire.
    %p
      Pennsic University provides for heat sources used ONLY by
      preapproval in a very limited number of tents.  This restriction
      does not apply to classes held in private encampments.
